form {
  padding: 60px 0;
  color: #ccccff;
  background-color: #292933;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-container {
  width: 50%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-60 {
  width: 60%;
}

/* GRID */

.grid-col-1 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: auto;
}

/* GRID COL  */
.grid-col-full {
  grid-column: 1/-1;
}
