select.select-box {
  padding: 0;
}

select.select-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;
  color: #ccccff;
  width: 100%;
  background: none;
  border: none;
  padding-bottom: 0.5rem !important;
  border-bottom: 1px solid #ccccff;
}

.select-box option {
  margin-top: 1.2rem;
  background-color: #292932;
}

.select-box option:hover {
  /* margin-top: 1.2rem; */
  background-color: #292940 !important;
}

.input-field select:focus {
  outline: none;
}

.select-box.select-color-none {
  color: #292932;
}
